-- MariaDB dump 10.19  Distrib 10.11.0-MariaDB, for Win64 (AMD64)
--
-- Host: containers-us-west-44.railway.app    Database: railway
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `EMPLOYEE`
--

DROP TABLE IF EXISTS `EMPLOYEE`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `EMPLOYEE` (
  `EMPID` varchar(10) NOT NULL,
  `EMPNAME` varchar(30) DEFAULT NULL,
  `EMPADD` varchar(30) DEFAULT NULL,
  `EMPPHONENUM` varchar(30) DEFAULT NULL,
  `EMPPOSITION` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`EMPID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `EMPLOYEE`
--

LOCK TABLES `EMPLOYEE` WRITE;
/*!40000 ALTER TABLE `EMPLOYEE` DISABLE KEYS */;
/*!40000 ALTER TABLE `EMPLOYEE` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `FLIGHT`
--

DROP TABLE IF EXISTS `FLIGHT`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `FLIGHT` (
  `FLIGHTID` varchar(10) NOT NULL,
  `PLANEID` varchar(6) DEFAULT NULL,
  `DEPARTURE_DATE` date NOT NULL,
  `ARRIVAL_DATE` date NOT NULL,
  `DESTINATION` varchar(10) NOT NULL,
  `ORIGIN` varchar(10) NOT NULL,
  `QUANTITY_SEAT1` int DEFAULT NULL,
  `QUANTITY_SEAT2` int DEFAULT NULL,
  `NOTE` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`FLIGHTID`),
  KEY `PLANEID` (`PLANEID`),
  CONSTRAINT `FLIGHT_ibfk_1` FOREIGN KEY (`PLANEID`) REFERENCES `PLANES` (`PLANEID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `FLIGHT`
--

LOCK TABLES `FLIGHT` WRITE;
/*!40000 ALTER TABLE `FLIGHT` DISABLE KEYS */;
/*!40000 ALTER TABLE `FLIGHT` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `PASSENGER`
--

DROP TABLE IF EXISTS `PASSENGER`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `PASSENGER` (
  `PASSID` varchar(10) NOT NULL,
  `PASSNAME` varchar(100) DEFAULT NULL,
  `PASSPHONENUMBER` decimal(10,0) DEFAULT NULL,
  `PASSADDRESS` varchar(100) DEFAULT NULL,
  `PASSIDNO` decimal(12,0) DEFAULT NULL,
  PRIMARY KEY (`PASSID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `PASSENGER`
--

LOCK TABLES `PASSENGER` WRITE;
/*!40000 ALTER TABLE `PASSENGER` DISABLE KEYS */;
/*!40000 ALTER TABLE `PASSENGER` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `PLANES`
--

DROP TABLE IF EXISTS `PLANES`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `PLANES` (
  `PLANEID` varchar(6) NOT NULL,
  `PLANENAME` char(4) NOT NULL,
  `TOTALSEAT` int NOT NULL,
  `TYPE1SEAT` int DEFAULT NULL,
  `TYPE2SEAT` int DEFAULT NULL,
  `MANUFACTURER` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`PLANEID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `PLANES`
--

LOCK TABLES `PLANES` WRITE;
/*!40000 ALTER TABLE `PLANES` DISABLE KEYS */;
/*!40000 ALTER TABLE `PLANES` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `TICKET`
--

DROP TABLE IF EXISTS `TICKET`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `TICKET` (
  `TICKETID` varchar(20) NOT NULL,
  `EMPID` varchar(10) DEFAULT NULL,
  `PASSID` varchar(10) DEFAULT NULL,
  `FLIGHTID` varchar(10) DEFAULT NULL,
  `SEATTYPE` int DEFAULT NULL,
  `TOTALCOST` decimal(20,0) DEFAULT NULL,
  PRIMARY KEY (`TICKETID`),
  KEY `EMPID` (`EMPID`),
  KEY `PASSID` (`PASSID`),
  KEY `FLIGHTID` (`FLIGHTID`),
  CONSTRAINT `TICKET_ibfk_1` FOREIGN KEY (`EMPID`) REFERENCES `EMPLOYEE` (`EMPID`),
  CONSTRAINT `TICKET_ibfk_2` FOREIGN KEY (`PASSID`) REFERENCES `PASSENGER` (`PASSID`),
  CONSTRAINT `TICKET_ibfk_3` FOREIGN KEY (`FLIGHTID`) REFERENCES `FLIGHT` (`FLIGHTID`),
  CONSTRAINT `CK_SEAT_TYPE` CHECK (((`SEATTYPE` >= 1) and (`SEATTYPE` <= 2)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `TICKET`
--

LOCK TABLES `TICKET` WRITE;
/*!40000 ALTER TABLE `TICKET` DISABLE KEYS */;
INSERT INTO `TICKET` VALUES
('283100Kha1SGSF65161',NULL,'P000000100','A561283',1,181535200),
('292100LEP1DAVC19368',NULL,'P000000100','T901292',2,181702000),
('292100LEP1DAVC28235',NULL,'P000000100','T901292',1,66352000),
('292100LEP1DAVC70165',NULL,'P000000100','T901292',1,66055000),
('292111NGU2DAVC45582',NULL,'P000000111','T901292',1,66068200),
('456100LEP2VCSG11381',NULL,'P000000100','T123456',1,155760000),
('911100LEP1HASG37358',NULL,'P000000100','S092911',2,132800000);
/*!40000 ALTER TABLE `TICKET` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2022-11-28 15:50:19
